* {
	margin: 0;
	padding: 0;
	outline: 0
}

a {
	text-decoration: none
}

body {
	font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background-color: #f0f0f0;
	overflow-x:hidden;
}

header{
	height: 45px;
	background-color: #22272a;
	width: 100%;
}

header .back {
	padding-left: 18px;
	position: relative;
	color: #fff;
	height: 45px;
	line-height: 45px;
}

header .back:before {
	border: #fff solid 3px;
	position: absolute;
	left: 4px;
	top: 50%;
	margin-top: -8px;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

header .title {
	font-size: 16px;
	position: absolute;
	width: 180px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	left: 50%;
	top: 0px;
	margin-left: -90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
}

.cards .item{
	padding: 15px 20px 0 20px;
	position: relative;
	height: 125px;
	border-bottom: 2px solid #c8c9ca;
}

.cards .item .cardwrap{
	background-color: #ea5233;
	color: #fff;
	position: absolute;
	left: 20px;
	right: 20px;
	top: 15px;
	bottom: 0px;
	border: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.cards .item .cardwrap .img{
	width: 80px;
	height: 80px;
	padding: 10px;
	float: left;
    color: #E13627;
}

.cards .item .cardwrap .img img{
	height: 80px;
	width: 80px;
}

.cards .item .cardwrap .name{
	position: absolute;
	top: 0px;
	left: 120px;
	right: 15px;
	font-size: 18px;
	height: 50px;
	line-height: 70px;
}

.cards .item .cardwrap .time{
	position: absolute;
	display: table;
	top: 50px;
	left: 120px;
	right: 15px;
	height: 50px;
}

.cards .item .cardwrap .time span{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.cards .item .layer{
	position: absolute;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 25px;
	line-height: 25px;
}

.cards .item .layer .cardnum{
	padding: 0 10px 0 10px;
	font-size: 12px;
}