* {
    margin: 0;
    padding: 0;
    outline: 0
}

a {
    text-decoration: none
}

body {
    font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #eeeff0;
    overflow-x:hidden;
}

header{
    height: 45px;
    background-color: #22272a;
    width: 100%;
}

header .back {
    padding-left: 18px;
    position: relative;
    color: #fff;
    height: 45px;
    line-height: 45px;
}

header .back:before {
    border: #fff solid 3px;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header .title {
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.category{
    position: relative;
    height: 40px;
    background-color: #eeeff0;
}

.category .item{
    float: left;
    width: 50%;
    height: 42px;
    line-height: 40px;
    color: #d44449;
    font-size: 16px;
    text-align: center;
}

.layer{
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #cdcecf;
    width: 100%;
}

.on{
    position: absolute;
    width: 50%;
    background-color: #d1372d;
    height: 2px;
    left: 0px;
}

ul,li{
    list-style: none;
}

.store{
    padding: 15px 15px 0px 15px;
}

.store li{
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.35);
    background-color: #fff;
    color: #949596;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
}

.store li .main{
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.store li .main .img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

.store li .main .img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.store li .main .name{
    position: absolute;
    left: 60px;
    top: 0px;
    right: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.store li .main .total{
    color: #d2372d;
    font-size: 18px;
    width: 90px;
    position: absolute;
    right: 5px;
    top: 0px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.store li .class{
    position: relative;
    margin: 0 15px;
    border-bottom: 1px solid #e8e8e8;
    height: 60px;
}

.store li .class:last-child{
    border-bottom: none;
}

.store li .class .time{
    position: absolute;
    top: 0px;
    height: 30px;
    line-height: 30px;
    left: 45px;
    right: 100px;
}

.store li .class .money{
    position: absolute;
    top: 0px;
    height: 30px;
    line-height: 30px;
    right: 10px;
    text-align: center;
    width: 90px;
}

.store li .class .classname{
    position: absolute;
    top: 30px;
    left: 45px;
    height: 30px;
    line-height: 30px;
}