* {
    margin: 0;
    padding: 0;
    outline: 0
}

a {
    text-decoration: none
}

body {
    font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #eeeff0;
    overflow-x:hidden;
}

header{
    height: 45px;
    background-color: #22272a;
    width: 100%;
}

header .back {
    padding-left: 18px;
    position: relative;
    color: #fff;
    height: 45px;
    line-height: 45px;
}

header .back:before {
    border: #fff solid 3px;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header .title {
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.category{
    position: relative;
    height: 40px;
    background-color: #eeeff0;
}

.category .item{
    float: left;
    width: 50%;
    height: 42px;
    line-height: 40px;
    color: #d44449;
    font-size: 16px;
    text-align: center;
}

.layer{
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #cdcecf;
    width: 100%;
}

.on{
    position: absolute;
    width: 50%;
    background-color: #d1372d;
    height: 2px;
    left: 0px;
}

ul,li{
    list-style: none;
}

.list{
    padding: 15px 15px 0px 15px;
}

.list li{
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.35);
    background-color: #fff;
    height: 135px;
    color: #949596;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
}

.list li .time{
    height: 30px;
    line-height: 30px;
}

.list li .img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

.list li .img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list li .name{
    position: absolute;
    top: 40px;
    left: 80px;
    right: 15px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}

.teacher{
    position: absolute;
    top: 90px;
    left: 80px;
    right: 15px;
    height: 30px;
    line-height: 30px;
}

.classname{
    position: absolute;
    top: 120px;
    left: 80px;
    right: 15px;
    height: 30px;
    line-height: 30px;
}

.null{
    position: absolute;
    height: 150px;
    line-height: 150px;
    text-align: center;
    top: 0px;
    left: 0px;
    right: 0px;
}

.sj{
    display: none;
}

@keyframes pq
{
    from {left:50%;}
    to {left:0;}
}

@-webkit-keyframes pq /*Safari and Chrome*/
{
    from {left:50%;}
    to {left:0;}
}

@keyframes zl
{
    from {left:0;}
    to {left:50%;}
}

@-webkit-keyframes zl /*Safari and Chrome*/
{
    from {left:0;}
    to {left:50%;}
}